RewriteEngine On
RewriteBase /lab/harker_lloreda/

# Check if the requested file or directory exists
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

# Spanish URL rewriting
RewriteRule ^([a-zA-Z0-9_-]+)/s/([^/]+)/?$ set/$2.php?lang=$1 [L,QSA]
RewriteRule ^([a-zA-Z0-9_-]+)/g/([^/]+)/?$ get/$2.php?lang=$1 [L,QSA]
RewriteRule ^([a-zA-Z0-9_-]+)/b/([^/]+)/?$ boxes/$2.php?lang=$1 [L,QSA]

RewriteRule ^([a-zA-Z0-9_-]+)$ index.php?lang=$1 [L,QSA]
RewriteRule ^es/agenda-tu-cita$ agenda.php?lang=es&seo=1495 [L,QSA]
RewriteRule ^en/agenda-tu-cita$ agenda.php?lang=en&seo=1497 [L,QSA]
RewriteRule ^es/procedimientos$ procedimientos.php?seo=128&type=pages&lang=es [L,QSA]
RewriteRule ^en/procedimientos$ procedimientos.php?seo=298&type=pages&lang=en [L,QSA]
RewriteRule ^([a-zA-Z0-9_-]+)/procedimientos/([a-zA-Z0-9_-]+)-([0-9]+)$ categoria_procedimiento.php?lang=$1&idCategoria=$3&seo=$3&type=hl_cat_proced [L,QSA]
RewriteRule ^([a-zA-Z0-9_-]+)/procedimiento/([a-zA-Z0-9_-]+)-([0-9]+)$ proce-inter.php?lang=$1&idPro=$3&seo=$3&type=hl_list_proced [L,QSA]
RewriteRule ^([a-zA-Z0-9_-]+)/equipo-humano$ equipo-humano.php?lang=$1 [L,QSA]
RewriteRule ^([a-zA-Z0-9_-]+)/our-exceptional-team-815$ equipo-humano.php?lang=$1 [L,QSA]
RewriteRule ^([a-zA-Z0-9_-]+)/equipo-humano-28$ equipo-humano.php?lang=$1 [L,QSA]
RewriteRule ^([a-zA-Z0-9_-]+)/plan-de-fidelizacion$ fidelizacion.php?lang=$1&page=32 [L,QSA]
RewriteRule ^([a-zA-Z0-9_-]+)/plan-de-fidelizacion-([0-9]+)$ fidelizacion.php?lang=$1&page=$2 [L,QSA]
RewriteRule ^([a-zA-Z0-9_-]+)/loyalty-program-([0-9]+)$ fidelizacion.php?lang=$1&page=$2 [L,QSA]
RewriteRule ^([a-zA-Z0-9_-]+)/convenios-empresariales$ convenios.php?lang=$1 [L,QSA]
RewriteRule ^es/pago-en-linea$ pago.php?lang=es&seo=1487 [L,QSA]
RewriteRule ^en/pago-en-linea$ pago.php?lang=en&seo=1489 [L,QSA]
RewriteRule ^es/pacientes-fuera-de-colombia$ fuera-col.php?lang=es&page=30&seo=30 [L,QSA]
RewriteRule ^en/pacientes-fuera-de-colombia$ fuera-col.php?lang=en&page=291&seo=291 [L,QSA]
RewriteRule ^([a-zA-Z0-9_-]+)/pacientes-fuera-de-colombia-en-291$ fuera-col.php?lang=$1&page=291&seo=291 [L,QSA]
RewriteRule ^([a-zA-Z0-9_-]+)/pacientes-fuera-de-colombia-30$ fuera-col.php?lang=$1&page=30&seo=30 [L,QSA]
RewriteRule ^([a-zA-Z0-9_-]+)/equipo-humano/([^/]+)-([0-9]+)$ doc_inter.php?lang=$1&id=$3&seo=$3&type=hl_miembros [L,QSA]
RewriteRule ^es/para-ellos-399$ para-ellos.php?lang=es&id=399&seo=399&type=hl_lines [L,QSA]
RewriteRule ^en/for-him-981$ para-ellos.php?lang=en&id=981&seo=981&type=hl_lines [L,QSA]
RewriteRule ^es/para-ellos$ para-ellos.php?lang=es&id=399&seo=399&type=hl_lines [L,QSA]
RewriteRule ^en/para-ellos$ para-ellos.php?lang=en&id=981&seo=981&type=hl_lines [L,QSA]
RewriteRule ^es/linea-de-prevencion$ teens.php?lang=es&id=400&seo=400&type=hl_lines [L,QSA]
RewriteRule ^en/linea-de-prevencion$ teens.php?lang=en&id=995&seo=995&type=hl_lines [L,QSA]
RewriteRule ^([a-zA-Z0-9_-]+)/contactanos$ contact.php?lang=$1&id=$3 [L,QSA]
RewriteRule ^es/politicas-de-tratamiento-de-datos$ politicas.php?lang=es&pageID=465 [L,QSA]
RewriteRule ^en/politicas-de-tratamiento-de-datos$ politicas.php?lang=en&pageID=470 [L,QSA]
RewriteRule ^([a-zA-Z0-9_-]+)/seleccionar-metodo-pago$ paymethod.php?lang=$1 [L,QSA]
RewriteRule ^([a-zA-Z0-9_-]+)/pagar-con-tarjeta-de-credito$ card.php?lang=$1 [L,QSA]
RewriteRule ^([a-zA-Z0-9_-]+)/respuesta-pago$ paid.php?lang=$1 [L,QSA]
