body {
  position: relative;
  overflow-x: hidden;
  &::after {
    opacity: 0.5;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../img/bgBody.png);
    background-repeat: repeat-y;
    background-position: top;
    top: 0;
    z-index: -1;
  }
}
.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  padding: 0 20px;
  position: relative;
}

.home {
  .splide__arrow {
    svg {
      @media only screen and (max-width: 768px) {
        width: 30px;
        height: 30px;
      }
    }
  }
  &--prev {
    left: 12em;
    @media only screen and (max-width: 768px) {
      left: 0 !important;
    }
  }
  &--next {
    right: 12em;
    @media only screen and (max-width: 768px) {
      right: 0 !important;
    }
  }
}
