@use "../abstracts" as *;

body {
  font-size: 10px;
  font-family: var(--font-primary);
  color: #fff;
}

h1 {
  color: #1e1e1e;
  font-family: var(--font-primary);
  font-size: 55px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 30px 0;
}

h2 {
  color: #1e1e1e;
  font-size: 48px;
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 15px;
}

h3 {
  font-family: var(--font-primary);
  color: #1e1e1e;
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 15px;
}

h4 {
  font-family: var(--font-primary);
  color: #2b3c4c;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 15px;
}
h5 {
  font-family: var(--font-primary);
}
h6 {
  font-family: var(--font-primary);
}

p,
li,
a {
  color: #1e1e1e;
  font-size: 15px;
  line-height: 22px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 10px;
}

.thin {
  font-weight: 100;
}
.light {
  font-weight: 300;
}
.medium {
  font-weight: 500;
}
.semibold {
  font-weight: 600;
}
.bold {
  font-weight: 700;
}
.black {
  font-weight: 900;
}
.uppercase {
  text-transform: uppercase;
}
