@use "../abstracts" as *;

body {
  font-size: 10px;
  font-family: var(--font-primary);
  color: #fff;
}

h1 {
  font-family: var(--font-secondary);
}

h2 {
  font-family: var(--font-secondary);
  color: #1e1e1e;
  font-size: 85px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h3 {
  font-family: var(--font-primary);
  color: #1e1e1e;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

h4 {
  font-family: var(--font-primary);
  color: #2b3c4c;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
h5 {
  font-family: var(--font-primary);
}
h6 {
  font-family: var(--font-primary);
}

p,
li,
a {
  color: var(--textos);
  font-family: var(--font-primary);
}

small {
}

.thin {
  font-weight: 100;
}
.light {
  font-weight: 300;
}
.medium {
  font-weight: 500;
}
.semibold {
  font-weight: 600;
}
.bold {
  font-weight: 700;
}
.black {
  font-weight: 900;
}
.uppercase {
  text-transform: uppercase;
}
