body {
    margin: 0;
    line-height: normal;
    }

.aprovecha {
    position: relative;
    font-size: 40px;
    text-align: right;
    display: inline-block;
    width: 644px;
}
.por-esta {
    position: relative;
    font-size: 15px;
    text-align: right;
    display: inline-block;
    width: 644px;
}
// .circle {
//     position: relative;
//     border-radius: 100px;
//     background-color: #fff;
//     object-fit: cover;
//     width: 15%;
//     height: 70px;
// }