.banner-convenio{
    margin: 50px auto;
}

.container__left__conv {
    display: flex;
    align-items: center;
    padding: 60px 0;
    img{
        max-width: 890px;
        max-height: 559px;
    }
    .txt{
        text-align: right;
        max-width: 700px;
        margin-left: 50px;

        h2 {
            max-width: 900px;
        }
        h3{
            padding-left: 30px;
            text-align: right;
        }
        p{
            margin-bottom: 20px;
            padding-left: 40px;
            text-align: right;
        }
    }
}

.container__right__conv {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 60px 0;
    margin-left: 350px;
    img{
        max-width: 890px;
        max-height: 559px;
    }
    .txt{
        text-align: left;
        max-width: 700px;
        margin-right: 50px;
        h3{
            padding-right: 30px;
        }
        p{
            margin-bottom: 20px;
            padding-right: 40px;
        }
    }
}

.container__conv {
    display: flex;
    align-items: center;
    padding: 60px 0;
    margin-left: 350px;
    .txt{
        text-align: left;
        max-width: 700px;
        margin-left: 50px;

        h3{
            padding-left: 30px;
        }
        p{
            margin-bottom: 20px;
            padding-left: 40px;
            text-align: right;
        }
    }
}

.cointiner__faq {
    margin: 0 200px;
    margin-left: 350px;
    max-width: 1200px;
    width: 70%;
    padding: 0 20px;
    position: relative;

    .faq-container summary{
      padding: 20px;
    }
}

.odeea__iconos,
.fesancho__iconos {
    display: flex;
    justify-content: space-around;
    padding: 0 0 0 74px;

    .odeea__icono,
    .fesancho__icono {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        &__img {
            background-color: #fff;
            border-radius: 50%;
            height: 85px;
            width: 85px;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 4px 4px 4px 0px rgba(51, 92, 130, 0.25);
            img {
                position: relative;
            }
        }
        h5 {
            margin: 15px 0 25px 0;
        }
    }
}
.faq-title {
    margin: 0 auto;
    max-width: 1089px;
    padding: 0 0 0 53px;
    span{
        padding: 43px;
    }
}

.tab-titles__conv {
    gap: 10px;
    padding-left: 50px;
    display: flex;
    color: rgba(43, 60, 76, 0.514);
    position: relative;
}

.proced-extr__quirurgico,
.proced-extr__no-quirurgico {
    text-align: center;
}
.proced-extr__quirurgico h3,
.proced-extr__no-quirurgico h3 {
    text-align: center;
    font-size: 30px;
    color: #335c82;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.5s ease;
    padding: 25px 0;
    margin: 20px 0;
    text-decoration: underline;
}
.proced-extr__quirurgico h4 {
    font-size: 25px;
    font-weight: 500;
    padding: 50px 0;
    margin: 0;
}
.proced-extr__no-quirurgico h4 {
    font-size: 25px;
    font-weight: 500;
    transition: background-color 0.5s ease;
    padding: 50px 0;
    margin: 0;
    cursor: pointer;
}
.proced-extr__quirurgico h4:hover,
.proced-extr__no-quirurgico h4:hover {
    background-color: #335c82;
    color: #fff;
}
