body {
    margin: 0;
    line-height: normal;
    }

.txt-p {
    font-size: 50px;
    margin-bottom: 20px;
    padding-left: 100px;
    padding-right: 250px;
    text-align: right;
    max-width: 1089px;
    margin: 0 auto;
    }
.txt-q {
    font-size: 50px;
    margin-bottom: 20px;
    padding-left: 150px;
    padding-right: 100px;
    text-align: right;
    max-width: 1089px;
    margin: 0 auto;
    text-align: left;
}
