.banner-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    svg {
      position: absolute;
      top: 10px;
      left: 0;
      z-index: -1;

      .foto {
        flex: 1;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
  .paciente {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 25px;
      padding-bottom: 20px;

      h3 {
        padding-bottom: 25px;
      }

      p {
        padding-top: 10px;
        padding-bottom: 20px;
      }
    }

    .grid-container-cx {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 7px;
      column-gap: 56px;
      padding-left: 20px;
  
      .grid-item-cx {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 400px;
          border-radius: 1px;
          border-top: 1px solid #1E1E1E;        
          position: relative;         
          }
        
          a {
            text-align: center;
            color: #1E1E1E;
            font-size: 30px;
            padding-top: 50px;
          }
      }

.container.bela {
  display: flex;
  flex-direction: column;

  a {
    padding-left: 100px;
    align-items: center;
    text-align: left;
    justify-content: space-evenly;
    margin-bottom: 50px;
    font-size: 25px;
    font-weight: 400;
  }
}