// .banner {
//   .txt {
//     .btn.primary {
//       position: relative;
//       left: 40%;
//       height: 50px;
//     }
//   }
// }
.equipo {
  .teamothers {
    h3 {
      text-align: center;
      margin-bottom: 30px;
    }
  }
  .banner {
    &-container {
      .banner {
        .txt {
          max-width: 480px;
        }
      }
    }
  }
}

.cita {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 0 auto;
  max-width: 900px;
  p {
    margin-bottom: 15px;
    font-size: 21px;

    @media only screen and (max-width: 768px) {
      font-size: 14px;
    }
  }
}

.video-info.equipo {
  background-image: none;
  background-position: unset;
  background-repeat: unset;
  .video-position {
    h3 {
      @media only screen and (max-width: 768px) {
        font-size: 25px;
        text-align: center;
        margin: 30px auto 30px;
      }
    }
    p {
      margin: 30px auto 120px;
      max-width: 850px;
      font-size: 21px;

      @media only screen and (max-width: 768px) {
        font-size: 14px;
      }
    }
  }
}
