.banner {
  .txt {
    .btn.primary {
      position: relative;
      left: 40%;
      height: 50px;
    }
  }
}

.cita {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 0 auto;
  max-width: 900px;
  p {
    margin-bottom: 15px;
    font-size: 21px;
  }
}

.video-info.equipo {
  background-image: none;
  background-position: unset;
  background-repeat: unset;
  .video-position {
    p {
      margin: 30px auto 120px;
      max-width: 850px;
      font-size: 21px;
    }
  }
}

.doctor {
  .video-card {
    max-width: 430px;
    width: 100%;
    height: 620px;
    @media only screen and (max-width: 768px) {
      height: auto;
      aspect-ratio: 9 / 16;
      height: 100vw;
    }
    svg {
      left: -40px;
      width: 80px;
      top: 90px;
      @media only screen and (max-width: 768px) {
        left: -20px;
      }
    }
  }
}

.left-doc {
  justify-content: flex-start;
  gap: 180px;

  .txt-content {
    margin-left: 10px;

    h4,
    p {
      margin: 0;
      padding: 0;
    }
  }
  .video-card svg {
    left: unset;
    right: -40px;
    @media only screen and (max-width: 768px) {
      right: -20px;
    }
  }
}
