.banner {
  .txt {
    .btn.primary {
      position: relative;
      left: 40%;
    }
  }
  .txt-equipo{
    left: -100px;
  }
}

.cita {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 0 auto;
  max-width: 900px;
  p{
    margin-bottom: 25px;
    font-size: 21px;
  }
}

.contactos{
  margin-bottom: 150px;
}

.video-info.equipo {
  background-image: none;
  background-position: unset;
  background-repeat: unset;
  .video-position {
    p {
      margin: 30px auto 120px;
      max-width: 850px;
      font-size: 19px;
    }
  }
}

.doctor{
  .video-card {
    width: 430px;
    height: 620px;
    svg{
        left: -40px;
        width: 80px;
        top: 90px;
    }
  }
}

.left-doc{
    justify-content: flex-start;
    gap: 180px;
    .video-card svg {
        left: unset;
        right: -40px;
      }
}