// .container-fc {
//   max-width: 650px;
//   margin: 0 250px;
//   padding: 0 20px;
//   @media only screen and (max-width: 768px) {
//     margin: 0;
//   }

//   h2 {
//     margin-bottom: 50px;

//     @media only screen and (max-width: 768px) {
//     font-size: 35px;
//     text-align: center;
//     }
//   }
// }

.fueracol {
  main {
    padding-top: 180px;
  }
}
.fuera-col {
  h3 {
    margin-bottom: 50px;
  }
  .doctor {
    object-fit: contain;
    margin-bottom: 50px;

    @media only screen and (max-width: 768px) {
      flex-direction: column;
      gap: 30px;
      &:first-of-type {
        flex-direction: column-reverse;
      }
    }
  }
}

.bg-c {
  p {
    color: #fff;
    max-width: 1000px;
    margin: 50px auto 30px;
    font-size: 21px;

    @media only screen and (max-width: 768px) {
      font-size: 12px;
    }
  }
  .btn {
    font-size: 17px;
    padding: 10px 25px;
    border: 2px solid #fff;
  }
  .redes {
    display: flex;
    gap: 50px;
    margin: 40px auto;
    @media only screen and (max-width: 768px){
        flex-direction: column;
    }
    .red {
      display: flex;
      align-items: center;
      gap: 20px;
      img {
        width: 50px;
        height: 50px;
      }
      p {
        margin: unset;
      }
    }
  }
}

.icons {
  display: flex;
  gap: 50px;
  margin: 15px 0;
  img {
    width: 70px;
    border-radius: 50%;
  }
}

.proced-extr-pos {
  margin-top: 50px;
}

.proced-extr {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  &__quirurgicos {
    text-align: center;
    h3 {
      color: #335c82;
      margin-bottom: 25px;
    }
    h4 {
      cursor: pointer;
      transition: background-color 0.5s ease;
      padding: 50px 0;
      margin: 0;
      color: #1e1e1e;

      @media only screen and (max-width: 768px) {
        font-size: 18px;
      }
      &:hover {
        background-color: #335c82;
        color: #fff;
      }
    }
    hr {
      background: #4d4d4d;
      border: 0;
      height: 1px;
    }
  }
  &__no-quirurgicos {
    text-align: center;
    h3 {
      color: #335c82;
      margin-bottom: 25px;
    }
    h4 {
      cursor: pointer;
      transition: background-color 0.5s ease;
      padding: 50px 0;
      margin: 0;
      color: #1e1e1e;

      @media only screen and (max-width: 768px) {
        font-size: 18px;
      }
      &:hover {
        background-color: #335c82;
        color: #fff;
      }
    }
    hr {
      background: #1e1e1e;
      border: 0;
      height: 1px;
    }
  }
}
