.top-bar {
  @media screen and (max-width: 1600px) {
    .top-bar {
      flex-direction: column;
      text-align: center;

      .links {
        margin-top: 10px;
      }
      .right {
        margin-top: 10px;
      }
      .lang-selector {
        position: static;
        margin-top: 10px;

        ul {
          position: static;
          background-color: transparent;
          display: block;
        }
      }
      nav {
        margin-top: 10px;
      }

      nav ul li ul {
        display: block;
        background-color: #335C82;
        padding: 10px;
      }
    }
  }
  @media screen and (max-width: 1440px) {
    .top-bar {
      flex-direction: column;
      text-align: center;
    }
  }
}

.doctor {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
  p{
    margin-bottom: 15px;
  }
}

.splide__arrow--prev{
  left: 12em;
}
.splide__arrow--next{
  right: 12em;
}
.video-info {
  background-image: url(../../img/Rectangle\ 25.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  .video-position {
    display: flex;
    flex-direction: column;
    text-align: center;
    h3 {
      margin: 50px 0 20px 0;
      color: #2b3c4c;
    }
    p {
      margin: 30px 0 120px 0;
      font-weight: 500;
    }
  }
}

.cards {
  h3 {
    color: #2b3c4c;
    margin-bottom: 30px;
  }
  .card-grid {
    padding-bottom: 40px;
  }
}

.info-extra {
  display: flex;
  align-items: center;
  margin: 80px 0;
  justify-content: space-between;
  img {
    max-width: 565px;
  }
  .txt {
    max-width: 40%;
    p{
      margin-bottom: 30px;
    }
    &__2 {
      text-align: right;
    }
  }
}

.logos {
  max-height: 126px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 130px 50px 130px;
  img{
    filter: grayscale(100%);
  }
  :nth-child(1) {
    max-height: 55px;
  }
  :nth-child(3) {
    max-height: 106px;
  }
  :nth-child(4) {
    max-height: 87px;
  }
}
