.container-m {
    text-align: center;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    padding: 0 20px;
    position: relative;
    padding-bottom: 50px;

    p {
        padding-left: 100px;
        padding-right: 145px;
        text-align: center;
        max-width: 1089px;
        margin: 0 auto;
    }
}