.favoritos__3 {
  background-image: url(/img/Vector\ 45.svg);
  background-size: 98%;
  background-repeat: no-repeat;
  background-position-y: 76%;
  overflow: visible;

  @media only screen and (max-width: 768px) {
    background-size: 100%;
    background-position-y: 100%;
  }

    h3 {
      color: #32495E;

      @media only screen and (max-width: 768px) {
        font-size: 30px;
      }
    }

    h4 {
      background: #213445;
    }
    .splide__arrow {
      top: 60%;
      &--prev {
        left: -10em;
        @media only screen and (max-width: 768px){
          left: 0;
            
        }
      }
      &--next {
        right: -10em;
        @media only screen and (max-width: 768px){
          right: 0;
            
        }
      }
    }
  }


.procedimiento {
  margin: 50px auto 0 auto;

  @media only screen and (max-width: 768px) {
    padding: 0;
  }
  .bold {
    color: #32495e;
    margin-bottom: 30px;

    @media only screen and (max-width: 768px) {
      font-size: 25px;
      height: auto;
      padding: 10px 10px 0 10px;
      text-align: center;
    }
  }
  .procedimientos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 50px;

    @media only screen and (max-width: 768px) {
      grid-template-columns: repeat(1, 1fr);
      gap: 20px;
    }
    &__opce {
      max-width: 617px;
      max-height: 206px;
      background-color: #32495E;
      border-radius: 15px;
      transition: all 0.6s cubic-bezier(0.25, 1, 0.5, 1);

      h4 {
        color: #fff;
        margin-top: 45px;
        padding-left: 30px;
      }
      p {
        color: #fff;
        margin-bottom: 45px;
        padding-left: 30px;
      }                  
    }
    &__opce:hover {
      border: 3px solid #32495E;
      background: #213445;
    }
  }
}
.agendate-e {
  background-image: url(/img/Vector\ 46.svg);
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  background-position: center right;
  margin: 120px auto;
  display: flex;
  align-items: center;
  max-width: 100%;
  min-height: 560px;
  @media only screen and (max-width: 768px) {
    min-height: none;
    margin: 30px auto;

  }
  h4 {
    color: #213445;
    margin: 40px 0 30px 0;
    font-size: 40px;

    @media only screen and (max-width: 768px) {
      font-size: 30px;
    }
  }
  .iconos {
    display: flex;
    justify-content: space-around;
    color: #213445;
    margin-bottom: 15px;
    .icono {
      display: flex;
      flex-direction: column;
      align-items: center;
      &__img {
        background-color: #fff;
        border-radius: 50%;
        height: 124px;
        width: 124px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 4px 4px 4px 0px rgba(51, 92, 130, 0.25);

        @media only screen and (max-width: 768px) {
          height: 100px;
          width: 100px;
        }
        img {
          position: relative;
          object-fit: contain;

          @media only screen and (max-width: 768px) {
            height: 50px;
            width: 50px;
          }
        }
      }
      h5 {
        margin: 15px 0 25px 0;

        @media only screen and (max-width: 768px) {
          font-size: 12px;
        }
      }
    }
    .bold {
      font-size: 17px;

      @media only screen and (max-width: 768px) {
        font-size: 15px;
      }
    }
    span {
      display: flex;
      color: #213445;
      align-items: center;
      font-size: 20px;
      font-weight: bold;
    }
  }
  p {
    text-align: center;
    margin-bottom: 30px;
  }
}

.btn.primary-1 {
    color: #fff;
    background: #32495E;
    width: fit-content;
    padding: 15px 30px 15px 30px;
    &:hover {
      background: #213445;
      color: #fff;
      border: 2px solid #213445;
    }
    @media only screen and (max-width: 768px){
      display: flex;
      margin: 0 auto;
        
    }
}
.btn.primary-bann {
    position: relative;
    left: 40%;
    color: #fff;
    background: #32495E;
    padding: 15px 30px 15px 30px;
    &:hover {
      background: #213445;
      color: #fff;
      border: 2px solid #213445;
    }
  }
  .btn.secondary-serv {
    background: transparent;
    color: #213445;
    border-color: #32495e;
    &:hover {
      background: #213445;
      color: #fff;
      border: 2px solid #213445;
  }
}



.paraellos{
  .pacientes{
    padding-bottom: 80px;
  }
  .procedimiento-card {
    margin: 50px 0;
    position: relative;
    overflow: hidden;
    display: block;

    @media only screen and (max-width: 768px) {
      width: 100%;
      height: auto;
      display: block;
      margin: 0 auto;
      padding-bottom: 30px;
    }
    img {
      width: 380px;
      height: 450px;

      @media only screen and (max-width: 768px) {
        width: 100%;
        height: auto;
      }
    }
    small {
      margin-bottom: 67px;

      @media only screen and (max-width: 768px) {
        margin-bottom: 0;
        font-size: 12px;
      }
    }
  }
    .procedimientos {
      &__opc{
        background-color: #32495E;
        &:hover {
          background-color: #213445;
      
          @media only screen and (max-width: 768px) {
            transform: none;
          }
        }
      }
    }
}