.para_ellas {
  .splide__arrow--next {
    right: -70px;
  }
  .splide__arrow--prev {
    left: -70px;
  }
  .btn.primary {
    background-color: #5ebbc0;
    border: 2px solid #5ebbc0;
    color: #fff;
    padding: 15px 30px 15px 30px;

    &:hover {
      background-color: #209ba1;
      color: #fff;
      border: 2px solid #209ba1;
    }
  }
  .favoritos {
    & > .container {
      padding: 0;
    }
    &__1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      max-width: 768px;
      margin: 0 auto 50px;
      padding-top: 50px;
      p {
        margin-bottom: 20px;
      }
      .btn.primary {
        margin-bottom: 20px;
      }
    }
  }
  .favoritos__2 {
    background-image: url(../img/fondoParaEllas1.png);
    background-position: top;

    background-repeat: no-repeat;
    background-size: 100% 100%;

    @media only screen and (max-width: 768px) {
      background-size: 100% 100%;
      .container {
        padding: 0;
      }
    }
    @media only screen and (max-width: 768px) {
      .splide__slide {
        padding: 10px 0;
      }
    }
    rect {
      stroke: #fff;
    }
    path {
      fill: #fff;
    }
    .splide__arrow {
      top: 60%;
      &--prev {
        left: -10em;
      }
      &--next {
        right: -10em;
      }

      @media only screen and (max-width: 768px) {
        flex-direction: row;
        justify-content: space-between;

        .splide__arrow {
          width: 40px / 2;
          height: 40px / 2;
          margin-bottom: 0;
          margin-right: 10px;
        }
      }
    }
    h3 {
      color: #209ba1;
      @media only screen and (max-width: 768px) {
        text-align: center;
      }
    }
    .procedimiento-card {
      margin: 50px 0;
      position: relative;
      overflow: hidden;
      display: block;

      @media only screen and (max-width: 768px) {
        width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
        padding-bottom: 30px;
      }
      img {
        width: 380px;
        height: 450px;

        @media only screen and (max-width: 768px) {
          width: 100%;
          height: auto;
        }
      }
      small {
        margin-bottom: 67px;

        @media only screen and (max-width: 768px) {
          margin-bottom: 0;
        }
      }
    }
  }
  article.procedimiento {
    position: relative;
    & > svg {
      position: absolute;
      z-index: -1;
      @media only screen and (max-width: 768px) {
        display: none;
      }
      &#br {
        right: 0;
        bottom: -270px;
      }
      &#bl {
        left: 0;
        bottom: -270px;
      }
      &#center {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      &#tr {
        right: 0;
        top: -270px;
      }
      &#tl {
        left: 0;
        top: -270px;
      }
    }
  }
  .procedimiento {
    margin: 50px auto 0 auto;

    @media only screen and (max-width: 768px) {
      margin: 0 auto;
    }

    .bold {
      color: #209ba1;
      margin-bottom: 30px;
      @media only screen and (max-width: 768px) {
        text-align: center;
      }
    }
  }

  .agendate {
    background-image: url(../img/fondoParaEllas2.png);
    text-align: center;
    background-position: center;
    min-height: 800px;
    display: flex;
    align-items: center;
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;

    @media only screen and (max-width: 768px) {
      background-size: 100% 100%;
      min-height: 500px;
      .container {
        padding: 0;
      }
    }
    h4 {
      color: #209ba1;
      margin: 40px 0 30px 0;

      @media only screen and (max-width: 768px) {
        font-size: 25px;
      }
    }
    .iconos {
      display: flex;
      justify-content: space-around;
      color: #209ba1;
      max-width: 855px;
      margin: auto;
      .icono {
        display: flex;
        flex-direction: column;
        align-items: center;
        &__img {
          background-color: #fff;
          border-radius: 50%;
          height: 124px;
          width: 124px;
          display: flex;
          align-items: center;
          justify-content: center;
          box-shadow: 4px 4px 4px 0px rgba(51, 92, 130, 0.25);

          @media only screen and (max-width: 768px) {
            height: 60px;
            width: 60px;
          }
          img {
            position: relative;
            top: -15px;

            @media only screen and (max-width: 768px) {
              top: 0;
              height: 45px;
              width: 45px;
            }
          }
        }
        h5 {
          margin: 15px 0 25px 0;

          @media only screen and (max-width: 768px) {
            font-size: 12px;
          }
        }
      }
      .bold {
        font-size: 17px;

        @media only screen and (max-width: 768px) {
          font-size: 14px;
        }
      }
      span {
        display: flex;
        color: #209ba1;
        align-items: center;
        font-weight: bold;
      }
    }
    p {
      margin-bottom: 20px;
    }
    .btn.secondary {
      margin-bottom: 50px;
      background: transparent;
      border-color: #209ba1;
      color: #209ba1;
      &:hover {
        color: #fff;
        background-color: #209ba1;
      }
    }
  }

  .pacientes {
    @media only screen and (max-width: 768px) {
      .container {
        padding: 0;
      }
    }
    &__satisfechos {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 150px;
      gap: 40px;

      @media only screen and (max-width: 768px) {
        flex-direction: column;
      }
      .pics {
        width: 40%;
        display: flex;
        position: relative;

        @media only screen and (max-width: 768px) {
          width: 100%;
          flex-direction: column;
          align-items: center;
        }
        img {
          max-width: 215px;
          max-height: 215px;
          border-radius: 50%;
          position: absolute;
          bottom: 0;
          transform: translateY(50%);

          @media only screen and (max-width: 768px) {
            max-width: 100px;
            max-height: 100px;
          }

          &:nth-child(1) {
            left: 0%;
          }

          &:nth-child(2) {
            left: 20%;
          }

          &:nth-child(3) {
            left: 40%;
          }

          &:nth-child(4) {
            left: 60%;
          }

          &:nth-child(5) {
            left: 80%;
          }
        }
      }
      .cifras {
        display: flex;
        gap: 50px;
        align-items: center;
        max-width: 432px;
        text-align: center;

        @media only screen and (max-width: 768px) {
          flex-direction: column;
          gap: 20px;
          max-width: 100%;
        }
        h3 {
          color: #738592;
          font-weight: bold;

          @media only screen and (max-width: 768px) {
            font-size: 25px;
          }
        }
        p {
          font-size: 21px;
          color: #738592;

          @media only screen and (max-width: 768px) {
            font-size: 14px;
          }
        }
      }
    }
    &__ayudados {
      margin: 80px auto;

      @media only screen and (max-width: 768px) {
        margin: 0 auto;
        .container {
          padding: 0;
        }
      }
      h3 {
        @media only screen and (max-width: 768px) {
          font-size: 25px;
        }
      }
      .testimonio {
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media only screen and (max-width: 768px) {
          flex-direction: column;
          align-items: center;
        }
        .txt {
          width: 40%;
          @media only screen and (max-width: 768px) {
            width: 100%;
          }
        }

        .btn.primary {
          margin-top: 20px;
        }
      }
    }
  }
}

.teens {
  &::after {
    content: none;
  }
  .procedimiento-card:hover {
    border-color: #5ebbc0;
  }
  .procedimientos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 50px;
    margin: 25px auto 30px;
    .procedimientos__opc {
      background-color: #5ebbc0;
      transition: all 0.6s cubic-bezier(0.25, 1, 0.5, 1);
      border-radius: 15px;
      padding: 30px 40px;
      h4 {
        color: #fff;
        font-size: 22px;
      }
      p {
        font-size: 16px;
        color: #fff;
      }
      &:hover {
        background-color: #209ba1;
      }
    }
  }
}
