.container-p {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 1080px;
  font-size: 18px;
  margin: 0 auto;
  padding: 0 50px;
  padding-top: 50px;
  }
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
.container h3{
  font-size: 35px;
  margin: 20px 0;
  padding: 20px 10px;
}
.container-p h4 {
  font-size: 30px;
  margin: 20px 0;
  padding: 20px;
}

  .container-vector {
    position: absolute;
    width: 100%;
    padding: auto;
  }
  
  .grid-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
  
    img {
      width: 100%;
      object-fit: cover;
    }
  
    p {
      font-size: 30px; 
      margin: 5px 0;
    }
    .btn.secondary {
      margin-top: 20px;
    }
  }
  .destacados {
    margin-bottom: 70px;
    &__1 {
      text-align: center;
      max-width: 1089px;
      margin: 0 auto 35px;
      p {
        margin-bottom: 30px;
      }
    }
    &__2 {
      .splide__arrow {
        top: 60%;
        &--prev {
          left: -10em;
        }
        &--next {
          right: -10em;
        }
      }
      h3 {
        color: #335c82;
      }
    }
  }
  .procedimiento-card img {
    width: 380px;
    height: 400px;
    object-fit: cover;
    object-position: left;
}
  .rectangle-div {
    margin: 88px auto;
    max-width: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #335c82;

    .sentirte-mejor-contigo {
      position: relative;
      font-size: 40px;
      color: #fff;
      padding-bottom: 15px;
      text-align: center;
    }

    .btn.secondary {
      width: 325px;
      height: 53px;
      font-size: 21px;
    }
  }
     
      .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 15px;
    
        .grid-item {
          border-top: 20px;
          text-align: center;
          color: #fff;
        }
      }
      .footer, .child-footer {
        background-color: #335c82;
        padding: 20px;
        border-top: 1px solid #fff;
  
        small {
          color: #fff;
          font-size: 12px;
        }
    }
