.top-bar {
  background-color: #335c82;
  .container {
    display: flex;
    justify-content: space-between;
    margin: 0 0 0 auto;
    max-width: 1550px;
    padding: 0;
    @media only screen and (max-width: 768px) {
      justify-content: center;
    }

    .links {
      align-items: center;
      justify-content: space-between;
      display: flex;
      gap: 80px;
      @media only screen and (max-width: 768px) {
        display: none;
      }
      a {
        color: #fff;
        text-align: center;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin: 0;
        &:hover {
          opacity: 0.5;
        }
      }
    }
    .right {
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: flex-end;
      gap: 65px;
      ul.agendamenu {
        & > li {
          padding: 16px 160px 16px 38px;
          @media only screen and (max-width: 768px) {
            padding: 16px;
          }
          & > a {
            color: #fff;
            text-align: center;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
        }
      }
      ul.lang-selector {
        & > li {
          padding: 16px 0;
          span {
            justify-content: center;
            color: #fff;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            display: flex;
            align-items: center;
            gap: 10px;
            img {
              margin-right: 5px;
              border-radius: 50%;
              width: 20px;
              height: 20px;
              object-fit: cover;
            }
          }
          ul {
            width: 70px;
            li {
              button {
                justify-content: center;
                align-items: center;
                display: flex;
                img {
                  margin-right: 5px;
                  border-radius: 50%;
                  width: 20px;
                  height: 20px;
                  object-fit: cover;
                }
              }
              &:hover {
                button {
                  color: #fff;
                }
              }
            }
          }
        }
      }
      ul {
        li {
          margin: 0;
          ul {
            width: 100%;
            z-index: 2;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            border-radius: 0 0 8px 8px;
            overflow: hidden;
            li {
              padding: 0;
              a,
              button {
                background-color: #fff;
                color: #335c82;
                display: block;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                height: 100%;
                line-height: normal;
                margin: 0;
                padding: 16px;
                position: relative;
                text-align: center;
                transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);
                width: 100%;
                &::after {
                  content: "";
                  width: 90%;
                  height: 1px;
                  background-color: #335c82;
                  position: absolute;
                  bottom: 0;
                  left: 50%;
                  transform: translateX(-50%);
                }
                &:last-of-type {
                  &::after {
                    content: none;
                  }
                }
                &:hover {
                  background-color: #335c82;
                }
              }
              &:hover {
                a {
                  color: #fff;
                }
              }
            }
          }
        }
      }
    }
  }
}
header,
.top-bar {
  ul {
    & > li {
      position: relative;
      height: 100%;
      @media only screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
      }
      ul {
        position: absolute;
        top: 100%;
        display: none;
        left: 50%;
        transform: translateX(-50%);
      }
      &:hover {
        ul {
          display: block;
          background-color: #fff;
        }
      }
    }
  }
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  .container {
    display: flex;
    align-items: center;
    padding: 17px 20px;
    justify-content: space-between;
    img {
      width: 180px;
      display: block;
    }
    nav {
      position: relative;
      @media only screen and (max-width: 768px) {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: #fff;
        height: 100vh;
        z-index: 10;
        padding: 50px 20px;
        left: -100vw;
        &.active {
          left: 0;
        }
      }
      & > ul {
        display: flex;
        gap: 100px;
        @media only screen and (max-width: 768px) {
          gap: 25px;
          flex-direction: column;
          justify-content: center;
        }
        & > li {
          padding: 10px 0;
          &.mobile {
            display: none;
          }
          @media only screen and (max-width: 768px) {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 15px;
            margin: 0;
            padding: 0;
            &.mobile {
              display: flex;
            }
          }

          a {
            color: #263e48;
            text-align: center;
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            @media only screen and (max-width: 768px) {
              margin: 0;
            }
          }
          ul {
            z-index: 2;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            border-radius: 0 0 8px 8px;
            overflow: hidden;
            width: max-content;
            @media only screen and (max-width: 768px) {
              box-shadow: none;
              width: 100%;
              display: flex;
              flex-direction: column;
              gap: 25px;
              transform: none;
              display: block;
              position: static;
            }
            li {
              margin: 0;
              @media only screen and (max-width: 768px) {
                padding: 0;
              }
              a,
              button {
                width: 100%;
                height: 100%;
                display: block;
                padding: 15px;
                margin: 0;
                position: relative;
                transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);
                @media only screen and (max-width: 768px) {
                  margin: 0;
                  padding: 0;
                }
                &::after {
                  content: "";
                  width: 90%;
                  height: 1px;
                  background-color: #335c82;
                  position: absolute;
                  bottom: 0;
                  left: 50%;
                  transform: translateX(-50%);
                }
                &:last-of-type {
                  &::after {
                    content: none;
                  }
                }
                &:hover {
                  background-color: #335c82;
                  color: #fff;
                }
              }
              button {
                background-color: #fff;
                color: #335c82;
                padding: 20px 0;
                text-align: center;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
              }
            }
          }
        }
      }
      #closeMenu {
        display: none;
        @media only screen and (max-width: 768px) {
          display: block;
          width: 20px;
          height: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          top: 20px;
          right: 20px;
        }
      }
    }
    #openMenu {
      display: none;
      @media only screen and (max-width: 768px) {
        display: block;
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  // Estilo para móviles
  @media (screen <= width <= 768px) {
    .top-bar .container,
    .container {
      flex-direction: column;
      text-align: center;
    }

    .top-bar .links,
    .top-bar .right {
      margin-top: 10px;
    }

    .lang-selector,
    nav ul li {
      margin-top: 10px;
    }

    .lang-selector ul,
    nav ul li ul {
      position: static;
      background-color: transparent;
      display: block;
    }
  }
}
