@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
:root {
  --font-primary: "Montserrat", sans-serif;
  --textos: #76777a;
}
.Montserrat {
  font-family: var(--font-primary);
}
